body {
	background-image: linear-gradient(120deg, red 0%, purple 100%);
}

h1 {
	color: navy;
	margin-left: 20px;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%; /*Tamanho da linha  */
	text-align: center;
}

.inputlabel {
	color: gainsboro; /* Cor das temperaturas */
	font-family: Arial, Charcoal, sans-serif; /* Fonte das temperaturas */
	font-weight: bold; 
	font-size: 40px; /* Tamanho das temperaturas */
	line-height: 24px; /*Como se fosse a extensão do quadrado */
	text-align: center ;
	text-justify: inter-word;
	white-space: pre-wrap;
}